
<div class="navBar">
    <a href="/">Home</a>
    <a href="/meet-gracie">Meet Gracie</a>
    <a href="/healthy-pup">Healthy Pup</a>
    <a class ="curPage">Happy Pup</a>
</div>
<h1 id="pgTitle">Happy Pup</h1>
<div class="narrative">
	<h3>Managing Anxiety</h3>
	<img src="movinganxiety.jpg">
	<img src="face.jpg">
	<img src="clothes.jpg">
	<p>Despite how much we like to humanize our pets and how much personality they can have, a dog's nervous system is not quite as complex as ours. That means that many of the innate and adaptive responses are going to be primary drivers of their behaviors. Anxitey and stress are huge players in dictating a dogs behaviors. Many of those things that we might prefer our dogs not do stem from some sort of environmental stressor. For example, when we first moved into our current home, we had to go somewhere in the evening and leave Gracie there. In her mind, she was in this strange place without her parents with no prior experience to inform her that we would ever return. This situation triggered what I percieved as an attempt to escape but what in reality was total destruction of the blinds -- not good.</p>
	<p>It was important in this situation and in others where Gracie was not behaving in a way that we humans deemed acceptable, to note that it was not mischeif on her part but motivated by fear. When we first got Gracie, she had a licking probelm. Like constant, uninvited licking of any exposed flesh. After some cursory research I fould that this was another anxitey driven behavior. Rather than the annoyed "no licking!" that had become a staple, we started moving our limbs away and giving soothing pets with an "it's okay". After a few months, the licking behavior almost went away completely. We usually only see it come back up when Gracie is over-stimulated.</p>
	<p> A final note on anxiety, many of the things that we humans might enjoy doing with our dogs, teasing them, holding their paws or entire head for that matter, kissing them on the head, or forcing them to wear clothes can actually cause them stress and axiety. After watching out for how Gracie behaves when she is stressed out, I have come to see how I can treat her differently to mitigate her anxiety and untimately keep her happy on a more regular basis.</p>   
<div class="narrative">
	<h3>Every Dog Loves Treats</h3>
	<img src="puppuccino.jpg">
	<video controls>
		<source src="sitpretty.mp4" type="video/mp4">
	</video>
	<p>The fastest way to Gracie's heart, to make her tail wag with vigor, and to set her off in a fixed pattern of every trick she can do is to say the "T" word. Her best trick is her "sit pretty" shown in the video as she eats peanut butter. Gracie is so obsessed with treats that she even learned to spell it. Yes, even "T-R-E-A-T" will elicit the same response at this point. If you read about our tactics for physically caring for Gracie despite her protests, you know that Gracie is very food-motivated. But not every treat has to be with a goal in mind. Some are just for the soul (hers and ours).</p>
	<p>What are the best treats? I though you might ask. Gracie gets a daily Greenie (name brand) which is a dental chew that supposedly freshens her breath and maybe is good for her teeth. She LOVES them regardless of any oral health benefits and she knows exactly the time in the afternoon when she is supposed to get one. Gracie will also get periodic "fun" treats depending on what is in the house. Occaisionally we will buy something at the pet store but most of the time a small bit of turkey, chicken, or low-fat cheese works great. "Turkey" is another word that elicits a strong reaction.</p>
	<p>We mentioned Nana as a current figure in Gracie's life when we intro'd Gracie's back story. Nana has built a very strong relationship with Gracie, one could argue, on the foundation of treats. The treats that won Gracie's affection were homemade bone-shaped cookies that are peanut butter flavored with a hint of another secret ingredient. Nana kindly has shared her recipe in the link below.</p>
	<a class="pdfLink" href="nanasbiscuits.pdf" download>
		<h3>&rarr; Click to download Nana's Peanut Butter Dog Treat Recipe!</h3>
	</a>
	<a class="pdfLink" href="https://www.amazon.com/dp/B088DB436H/ref=cm_sw_em_r_mt_dp_RA9MM2KAE7R4CBNA3HQM">
		<h4>&rarr; Check out our favote doggie cookie cutters!</h4>
	</a>
</div>
<script src="projFuncs.js"></script>

