<div class="navBar">
	<a href="/">Home</a>
	<a href="/meet-gracie">Meet Gracie</a> 
  	<a class="curPage">Healthy Pup</a>
	<a href="/happy-pup">Happy Pup</a>
</div>
<h1 id="pgTitle">Healthy Pup</h1>
<div class="row">	
<div class="column">
		<h1>Bathing & Grooming</h1>
		<img src="bedhead.jpeg">
		<h2>Grooming</h2>
		<p>Gracie is part Shi-Tzu which means that in addition to her short Chihuahua hair, she also grows "whisps". When left ungroomed, these not only can lead to a "rat-dog" aesthetic but can cause stinky eye guck to build up in the fur of her face and occaisionally impair her vision. This means that grooming is a good idea for her. Unfortunately (and perhaps this is the Chihuahua side of her), Gracie doesn't really "go with the flow". A haircut is an assault on her dignity and she responds with biting. Professionals had been unsuccessful. After some thinking and many failures we developed what we call... "The Turkey Method".</p>
		<video controls>
			<source src="cuttinghair.mp4" type="video/mp4">
		</video>
		<p>The Turkey Method involves a slice of deli turkey (or your pet's favorite treat) cut into MANY tiny pieces. Hold up one teeny treat at a time giving the command to "wait". As Gracie waits, eyes fixed on the piece of turkey, we slowly go in with the scissors and take a snip or two. We reward with the treat frequently to keep her engaged and tolerating the hair cutting. Usually with enough of those turkey pieces we can get her groomed to perfection.
		<img src="ungroomed.jpeg" style="width: 43%; float: left">
		<img src="haircut.jpeg" style="width: 57%; float: left">
		<h2>Bathing</h2>
		<p>Despite aestheics, no one likes a stinky dog. After a while, Gracie can develop on odor and a general greasiness that is generally unpleasant. Baths are the answer to this. As you might guess at this point, Gracie also disapproves of the bathing experience. Recently, thanks to the internet, we have learned the peanut butter trick - shown below. 
		<video controls>
			<source src="peanutbutter.mp4" type="video/mp4">
		</video>
		<p>After the successful bath we pick up Gracie in a big towel. She does not tolerate active "drying" with the towel so we pretty much hold her still in the towel long enough to absorb a lot of the water then set her loose for shaking, rubbing dry on rugs and blankets, and air drying.    
	</div>
	<div class="column">
		<h1>Veterinary Care</h1>
		<p>No dog likes the vet. It's a fact of life. However, having access to veterinary care and the ability to have Gracie checked on every one in a while has been really valuable and reassuring. With that said, there are some challenges that come with vet visits --  namely droppinf her off. Gracie goes to a vet that is inside a pet store in a strip mall. As soon as we park, she knows where we are and her anxiety goes through the roof. Usually we will have to pcik her up and carry her in. There is also usually a point where she will start squirming to make a break for it. A firm grasp is imperative. We have had to chase her down as far as the parking lot... not good.</p>
		<video controls>
			<source src="stressshopping.mp4" type="video/mp4">
		</video>
		<p>We do like to spoil Gracie and usually some of the guilt that comes with dropping her off spurs a visit to the toy aisle. Sometimes Gracie even gets to pick on herself (video above). I noticed that Gracie now expects to get a new toy after vet visits. Last time we picked her up I didn't get her anything but she was sniffing up and down the car trying to find the toy she believed was there for her. Oops. </p>
	</div>
	<div class="column">
		<h1>Dental Care</h1>
		<img src="toyteeth.jpeg">
		<p>Gracie has a looming tartar problem. Everytime we visit the vet, it is the same warning that eventually it will be very expensive if we can't keep it under control with brushing. If you have read any of the other content about Gracie so far, you can already imagine the root of this problem. Gracie refuses to let us stick a toothbrush in her mouth long enough to effectively brush her teeth. Teethbrishing is usually many cycles of approaching her mouth with the toothbrush as she growls progressively louder at it, then eventually sticking the toothbrush in her mouth as she visioucly tries to bite at it and hoping that we get a few good brushes in.</p> 
		<img src="predator.jpeg">
		<p>As with the haircutting, we have found that patience and rewards have gone the furthest in accomplishing this task with Gracie. A few bits of turkey on deck can help Gracie been a little more patient as we try to brush her teeth. We know that the root of a lot of her negative behaviours is anxiety so a lot of camling words and positive affirmations also help her through it.  
	</div>
</div>
<div>
	<img class="pawBr" src="pawtrail.png">
</div>
<script src="projFuncs.js"></script>


