<div class="navBar">
	<a class ="curPage">Home</a>
	<a href="/meet-gracie">Meet Gracie</a> 
  	<a href="/healthy-pup">Healthy Pup</a>
	<a href="/happy-pup">Happy Pup</a>
</div>
<h1 id="pgTitle">Saving Grace</h1>
<div class="photoCarousel">
	<div class="homePhoto">
		<img src="bathroomfloor.jpg" style="width:100%">
		<div class="photoCap">Hello! This is Gracie</div>
		</div>
	<div class="homePhoto">
		<img src="noselick.jpg" style="width:100%">
		<div class="photoCap">She's a bit of a goof</div>
		</div>
		<div class="homePhoto">
		<img src="onthecouch.jpg" style="width:100%">
		<div class="photoCap">Looking moody on the couch</div>
		</div>
		<div class="homePhoto">
		<img src="mothersday.jpg" style="width:100%">
		<div class="photoCap">Sometimes she can be cute</div>
		</div>
		<div class="homePhoto">
		<img src="withaleaf.jpg" style="width:100%">
		<div class="photoCap">Gracie in autumn</div>
		</div>
		<div class="homePhoto">
		<img src="onthecarpet.jpg" style="width:100%">
		<div class="photoCap">Sometimes she's dramatic</div>
		</div>
		<div class="homePhoto">
		<img src="sleeping.jpg" style="width:100%">
		<div class="photoCap">Gracie sleeps most times</div>
		</div>
		<div class="homePhoto">
		<img src="inabandana.jpg" style="width:100%">
		<div class="photoCap">I don't like wearing clothes, no matter how festive</div>
		</div>
		<a class="prev" onclick="advSlides(-1)">&#10094;</a>
		<a class="next" onclick="advSlides(1)">&#10095;</a>
</div>
<div>
	<img class="pawBr" src="pawtrail.png">
</div>
<div class="narrative">
	<p>We are pleased to introduce to you... Gracie. Formally known as Gracie Lou, she is the muse for this site and hopefully you will learn something, not just about what a great dog Gracie is though that will of course be a byproduct. I hope that in the time you spend here you get of glimpse of how dog ownership (or any pet for that matter) can bring you joy and perspective that you never thought possible. My experience being Gracie's mom has enriched my life, taught me many lessons, and made me a better human. I hope to share some of that with YOU!
	</p>
	<p>As you peruse this site you will get a chance to have a more in-depth introduction to Gracie Lou and her origin story and how she came to be an integral member of our family. We also will share some of our strategies for keeping her physically healthy and looking good. Grace is a small dog with a big personality to it's not as straight-farward as you might imagine. Everything from bathing and teeth-brushing, grooming, and dealing with health scares, it'll get discussed! Finally we'll also talk about some of the ways that we try to keep Gracie happy. Like many other small dogs, Gracie can let her anxiety get the best of her. We will share some of the ways that we try to keep Gracie happy and calm. 
	</p> 
	<i>Thank you for visiting!</i>
</div>
<div>
	<img class="pawBr" src="pawtrail.png">
</div>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <legend style="font-style: bold">Contact us!</legend>
	<div id="unsubContent">  
	    <p><i>Have your own fur-babies to flaunt? Fun pet stories to tell? Great resources that are important to share? Please send them our way for a chance to get them showcased on the site!</i></p>
	    <label>Your Name
	        <input type="text" name="text_input" size="30" maxlength="100">
	    </label>
	    <br />
	    <br />
	    <label>Share with us!
	        <input class="textBox" type="text" name="sharedContent" size="100" maxlength="2000">
	    </label>
	    <br />
	    <br />
	    <input id="formSubmit" type="submit" value="Submit" style="font-family: Lato" />
	</div>  
    <div id="subContent" style="display: none">
    	<h1>Thank you for sharing!</h1>
    </div>
</form>
<script src="projFuncs.js"></script>

