<div class="navBar">
	<a href="/">Home</a>
	<a class ="curPage">Meet Gracie</a> 
  	<a href="/healthy-pup">Healthy Pup</a>
	<a href="/happy-pup">Happy Pup</a>
</div>
<h1 id="pgTitle">Meet Gracie!</h1>
<div class="timeline">
	<ul>
		<li>
			<div>
				<img class="timelinePhot" src="adopted.jpeg"><br>
				<time>December 2013</time>
				<p>Somewhere in Texas Gracie is born! Though at the time she was given the name "Delilah". Gracie's current parents don't know much about Gracie's origin story and the first 9 months of her life. </p>
			</div>	
		</li>
		<li>
			<div>
				<img class="timelinePhot" src="withapple.jpeg"><br>
				<time>September 2014</time>
				<p>Delilah is surrendered by her former owners to a local shelter and moved into the rescue agency "Operation Kindness". One of Gracie's current mom's, Stephanie, came in to adopt and after being taken to see some of the dogs in the back came upon Delilah. It was love at first sight and Delilah was given a new name and home. </p>
			</div>	
		</li>
		<li>
			<div>
				<img class="timelinePhot" src="ontheroad.jpg"><br>
				<time>November 2016</time>
				<p>Stephanie and Gracie pack up their belongings in TX and make the journey by car to San Jose, CA. They move in with their cousin Apple. While Apple is a little older and prefers peace and quiet, Gracie and Apple learn to get along. </p>
			</div>	
		</li>				
		<li>
			<div>
				<img class="timelinePhot" src="meetmom.jpg"><br>
				<time>June 2017</time>
				<p>Gracie meets her second mom, Chelsey. While Stephanie and Chelsey begin their relationship, Gracie welcomes the new figure in her life and has copious amounts of love to give. After a few months of frequent visits, Chelsey is practically a member of the family. </p>
			</div>	
		</li>
			<li>
			<div>
				<img class="timelinePhot" src="movingin.jpg"><br>
				<time>December 2018</time>
				<p>Gracie, Stephanie, and Chelsey all move in together into a small rental home referred to as "The Cottage". Chelsey's Nana owns the property and spends lots of time gardening in the backyard. Gracie spends her days lounging in the sun and following Nana about the yard. Gracie is happy. </p>
			</div>	
		</li>	
	</ul>
</div>
<div>
	<img class="pawBr" src="pawtrail.png">
</div>
<script src="projFuncs.js"></script>